/* 모바일용 CSS */
/* 기본 CSS */
#wrap {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

#wrap section {
  box-sizing: border-box;
}

/* 인포메이션 CSS */
.info_section {
  width: 100%;
  background: #2ecc71;
  border-bottom: 1px solid #39d67c;
}

.info_list {
  display: flex;
}

.info_list li {
  width: 25%;
  text-align: center;
}

.info_list li a {
  display: block;
  padding: 15px 0;
  padding: 0.938rem 0;
}

/* 헤더 영역 */
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.logo {
  width: 100%;
  padding: 30px 0;
  font-size: 1.188em;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background: #2ecc71;
  text-shadow: 0px 1px 1px #25ab5e;
}

.nav {
  width: 100%;
}

.gnb {
  display: none;
}

.gnb li {
  display: flex;
  background: #2c3e50;
}

.gnb li a {
  width: 80%;
  padding: 20px 0;
  font-size: 0.938em;
  text-indent: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.gnb li span {
  width: 20%;
  text-indent: -9999px;
  background: url("../images/s_images/sub_menu_toggle_btn.png") center center
    no-repeat;
  cursor: pointer;
}

.menu_toggle_btn {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-indent: -9999px;
  background: url("../images/s_images/menu_toggle_btn.png") no-repeat;
  cursor: pointer;
}

.sub_header_section {
  padding: 48px 0;
  text-align: center;
  background: #219af7;
}

.sub_header_section h2 {
  margin-bottom: 12px;
  font-size: 1.313em;
}

.breadcrum_list li {
  display: inline;
  font-size: 0.813em;
  font-weight: bold;
}

.content_section {
  padding: 20px;
  background: #fff;
}

.footer {
  width: 100%;
  background: #474747;
}

.footer p {
  padding: 20px;
  font-size: 0.813em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 1px 1px #191919;
}

.content_section > div {
  margin-top: 60px;
}

.content_section > div:first-child {
  margin-top: 0;
}

.content_row_1 {
  text-align: center;
}

.content_row_1 img {
  max-width: 100%;
}

.content_row_1 h3 {
  margin: 26px 0 14px 0;
  font-size: 1.626em;
  color: #333;
}

.content_row_1 p {
  font-size: 0.938em;
  line-height: 26px;
  color: #444;
}

.content_row_2 > article {
  margin-top: 40px;
  text-align: center;
}

.content_row_2 > article:first-child {
  margin-top: 0;
}

.content_row_2 img {
  max-width: 100%;
}

.content_row_2 h4 {
  margin: 26px 0 14px 0;
  font-size: 1.188em;
  color: #333;
}

.content_row_2 p {
  font-size: 0.813em;
  line-height: 21px;
  color: #444;
}

.content_row_3 h4 {
  margin-bottom: 20px;
  padding-bottom: 8px;
  font-size: 1.188em;
  border-bottom: 3px solid #2ecc71;
  color: #333;
}

.para p:first-child {
  margin-bottom: 30px;
}

.para p {
  font-size: 0.813em;
  line-height: 21px;
  color: #444;
}

/* 태블릿용 CSS */
@media all and (min-width: 768px) {
  .content_section {
    padding: 40px;
  }

  .content_section > div {
    margin-top: 120px;
  }

  /* 헤더영역 */
  .header {
    flex-direction: row;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 15.625%;
    padding: 0;
  }

  .logo a {
    display: block;
    padding: 50px 0;
  }

  .nav {
    position: relative;
    min-height: 80px;
    background: #2ecc71;
  }

  .gnb {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 20;
    width: 40.1042%;
  }

  .menu_toggle_btn {
    top: 50%;
    right: 30px;
    z-index: 20;
    margin-top: -15px;
  }

  .footer p {
    padding: 40px 0;
  }
}

/* PC용 CSS */
@media all and (min-width: 960px) {
  /* 기본 CSS */
  #wrap {
    position: relative;
    width: 90%;
  }

  .content_section {
    padding: 40px;
  }

  .content_section {
    padding: 60px;
  }

  .content_row_2 {
    display: flex;
    justify-content: space-between;
  }

  .content_row_2 article {
    width: 30%;
    margin: 0;
  }

  .para {
    display: flex;
    justify-content: space-between;
  }

  .para p {
    width: 47.61904761904762%;
    margin: 0;
  }

  /* 인포메이션 CSS */
  .info_section {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 30;
    width: auto;
    border-bottom: 0;
  }

  .info_list li {
    width: auto;
    margin-left: 15px;
  }

  .info_list li a {
    padding: 0;
  }
  /* 헤더 영역 */
  .header {
    justify-content: flex-end;
    position: static;
  }

  .logo {
    width: 12.5%;
  }

  .nav {
    display: flex;
    align-items: center;
    position: static;
    width: 87.5%;
  }

  .gnb {
    display: flex !important;
    flex-direction: row;
    position: static;
    width: 100%;
    text-shadow: 0px 1px 1px #25ab5e;
  }

  .gnb li {
    display: block;
    margin-left: 5.2083%;
    background: none;
  }

  .gnb li a {
    width: auto;
    padding: 0;
    text-indent: 0;
  }

  .gnb li span {
    display: none;
  }

  .menu_toggle_btn {
    display: none;
  }

  .footer p {
    padding-left: 3.125%;
    text-align: left;
  }
}
